.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/background.png') no-repeat center center fixed; /* ใช้ภาพพื้นหลัง */
    background-size: cover;
}

.landing-content {
    text-align: center;
    color: white;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.enter-button {
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enter-button:hover {
    background-color: #444;
}
