/* สไตล์สำหรับ Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 20px 40px;
  margin-top: 0;
  border-bottom: 3px solid #0047AB;
  position: fixed;
  top: 0; /* ทำให้ navbar คงที่ที่ด้านบนสุด */
  width: 100%;
  height: 80px;
  z-index: 1000; /* ทำให้ navbar อยู่ด้านบนสุด */
}

/* ส่วนของเนื้อหาหลังจาก navbar */
.content {
  margin-top: 100px; /* ให้เนื้อหาด้านล่างเริ่มจากใต้ navbar */
}

/* กำหนดขนาดความสูงของ navbar และการแสดงผลสำหรับอุปกรณ์ที่มีขนาดหน้าจอเล็ก */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 30px;
    height: 70px;
  }

  .content {
    margin-top: 80px; /* เพิ่มช่องว่างให้พอเหมาะกับ navbar */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px 20px;
    height: 60px;
  }

  .content {
    margin-top: 70px; /* ปรับช่องว่างให้พอเหมาะกับ navbar ขนาดเล็ก */
  }
}
