/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 20px;
  width: 100%; /* ให้ Navbar ขยายเต็มความกว้าง */
  box-sizing: border-box; /* รวม padding และ border เข้าเป็นส่วนหนึ่งของความกว้าง */
  margin-top: 0; /* ไม่ให้มี margin บน */
  border-bottom: 3px solid #0047AB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* ให้ Navbar อยู่เหนือเนื้อหาทั้งหมด */
}

.navbar-logo-group {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 150px;
}

.navbar-menu {
  background: none;
  border: none;
  color: black;
  font-size: 1.5em;
  cursor: pointer;
}

/* ปรับความสูงและ padding บนหน้าจอขนาดกลาง */
@media (max-width: 768px) {
  .navbar {
      padding: 10px 20px;
  }

  .navbar-menu {
      font-size: 1.3em;
  }
}

/* ปรับให้เหมาะสมกับโทรศัพท์ */
@media (max-width: 480px) {
  .navbar {
      padding: 10px 15px;
  }

  .navbar-menu {
      font-size: 1.2em;
  }
}
