/* สไตล์สำหรับ Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 20px 40px; /* padding พอดีกับหน้าจอขนาดใหญ่ */
  margin-top: 0;
  border-bottom: 3px solid #0047AB; /* เส้นสีน้ำเงินด้านล่าง */
  position: fixed; /* ทำให้ navbar อยู่คงที่เมื่อเลื่อนหน้าจอ */
  width: 100%; /* ขยาย Navbar ให้เต็มความกว้างของหน้าจอ */
  height: 80px;  /* กำหนดความสูงของ Navbar */
  top: 0; /* ให้ Navbar อยู่ที่ตำแหน่งบนสุดของหน้าจอ */
  z-index: 1000; /* ให้ navbar อยู่ด้านบนสุด */
}

.navbar-logo-group {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 150px;
}

.navbar-menu {
  background: none;
  border: none;
  color: black;
  font-size: 2em;
  cursor: pointer;
}

/* ปรับการแสดงผลบนหน้าจอขนาดกลาง (เช่น tablet) */
@media (max-width: 1024px) {
  .navbar {
    padding: 15px 30px; /* ลด padding บนหน้าจอขนาดกลาง */
    height: 70px; /* ปรับความสูงให้เหมาะสม */
  }

  .navbar-menu {
    font-size: 1.8em; /* ปรับขนาดฟอนต์ */
  }
}

/* ปรับการแสดงผลบนหน้าจอขนาดเล็ก (เช่น mobile) */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px; /* ลด padding */
    height: 60px; /* ปรับความสูงให้เหมาะสม */
  }

  .navbar-menu {
    font-size: 1.5em; /* ลดขนาดฟอนต์ */
  }
}

/* ปรับการแสดงผลบนหน้าจอขนาดเล็กพิเศษ (เช่น mobile devices) */
@media (max-width: 480px) {
  .navbar {
    padding: 10px 15px; /* ลด padding สำหรับมือถือ */
    height: 60px; /* ปรับความสูง */
  }

  .navbar-menu {
    font-size: 1.4em; /* ลดขนาดฟอนต์ */
  }
}
